@media print {
  @page {
    margin: 20mm;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }
}